@model WaslnyLib.Entity.Customer

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="hero-wrap hero-wrap-2 js-fullheight" style="background-image: url('../../Front/images/bg_3.jpg');" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-end justify-content-start">
            <div class="col-md-9 ftco-animate pb-5">
                <p class="breadcrumbs"><span class="mr-2"><a href="index.html">Customer<i class="ion-ios-arrow-forward"></i></a></span> <span>Delete <i class="ion-ios-arrow-forward"></i></span></p>
                <h1 class="mb-3 bread">Customer</h1>
            </div>
        </div>
    </div>
</section>
<div class="request-details">
    <div class="container">
        <nav class="pt-4" aria-label="breadcrumb">
            <ol class="breadcrumb breadcrumb-edit">
                <li class="breadcrumb-item"></li>
            </ol>
        </nav>
        <h3>Are you sure you want to delete this?</h3>
        <div>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    <p>First Name</p>
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.CustomerFName)
                </dd>

                <dt>
                    <p>Last Name</p>
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.CustomerLName)
                </dd>

                <dt>
                    <p>Gender</p>
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.CustomerGender)
                </dd>

                <dt>
                    <p>Address</p>
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.CustomerAddress)
                </dd>

                <dt>
                    <p>Phone</p>
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.CustomerPhone)
                </dd>

                <dt>
                    <p>City</p>
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.CustomerCity)
                </dd>

                <dt>
                    <p>Email</p>
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.CustomerEmail)
                </dd>
                <dt>
                    <p>Date of Birth</p>
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.CustomerDOB)
                </dd>
                <dt>
                    <p>Is Deleted</p>
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.IsDeleted)
                </dd>

            </dl>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-actions no-color">
                    <input type="submit" value="Delete" class="btn btn-default" /> |
                    @Html.ActionLink("Back to List", "Index")
                </div>
            }
        </div>
    </div>
</div>
